.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.title {
  display: flex;
  justify-content: space-around;
}

.title > span {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.tableContainer {
  padding: 3rem 5rem;
  z-index: 0;
}

.tableContainer > :nth-child(1) {
  border-radius: 10px !important;
  overflow: hidden !important;
}
.MuiTableRow-root,
.MuiTableCell-root {
  border: none !important;
}

.button {
  font-size: 1rem;
  background-color: tomato;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}

